[submodule "design-baselines"]
	path = design-baselines
	url = https://github.com/brandontrabucco/design-baselines.git
[submodule "bonet"]
	path = bonet
	url = https://github.com/siddarthk97/bonet.git
[submodule "ddom"]
	path = ddom
	url = https://github.com/siddarthk97/ddom.git
