[submodule "MolOOD"]
	path = MolOOD
	url = https://github.com/Yimeng-Zeng/Mol-OOD.git
	branch = surrogate
[submodule "fcd_torch"]
	path = fcd_torch
	url = https://github.com/insilicomedicine/fcd_torch.git
[submodule "design-baselines"]
	path = design-baselines
	url = https://github.com/brandontrabucco/design-baselines.git
[submodule "bonet"]
	path = bonet
	url = https://github.com/siddarthk97/bonet.git
