absl-py==1.0.0
aiohttp==3.8.6
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.2.0
botorch==0.6.6
cachetools==5.3.2
charset-normalizer==3.3.2
click==8.1.7
cycler==0.11.0
deepchem==2.7.1
design-bench==2.0.20
fcd==1.2
filelock==3.12.2
flake8==5.0.4
flatbuffers==2.0.7
fonttools==4.38.0
frozendict==2.4.0
frozenlist==1.3.3
fsspec==2023.1.0
gast==0.4.0
google-auth==2.26.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpytorch==1.8.1
grpcio==1.60.0
guacamol==0.5.5
h5py==3.8.0
idna==3.6
importlib-metadata==4.2.0
jax==0.2.26
jaxlib==0.1.74
joblib==1.3.2
keras==2.7.0
keras-preprocessing==1.1.2
kiwisolver==1.4.5
libclang==16.0.6
lightning-utilities==0.10.1
markdown==3.4.4
markupsafe==2.1.4
matplotlib==3.5.3
mccabe==0.7.0
multidict==6.0.4
multipledispatch==1.0.0
networkx==2.6.3
neural-tangents==0.3.9
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.2
pandas==1.3.5
pillow==9.5.0
pip==21.3.1
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.1.1
pyro-api==0.1.2
pyro-ppl==1.8.6
python-dateutil==2.8.2
pytorch-lightning==1.9.5
pytz==2023.3.post1
pyyaml==6.0.1
rdkit==2023.3.2
rdkit-pypi==2022.9.5
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
sacremoses==0.0.53
scikit-learn==1.0.2
scipy==1.7.3
selfies==2.1.1
sentencepiece==0.1.91
six==1.16.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
threadpoolctl==3.1.0
tokenizers==0.9.3
torch==1.13.1
torchmetrics==0.11.4
torchvision==0.14.1
tqdm==4.66.1
transformers==3.5.1
typing-extensions==4.7.1
urllib3==2.0.7
werkzeug==2.2.3
wrapt==1.16.0
xlrd==2.0.1
yarl==1.9.4
zipp==3.15.0
